# Salesforce ServiceCloud Connection
SF_LOGIN_URL=https://login.salesforce.com
SF_CLIENT_ID=your_connected_app_consumer_key
SF_CLIENT_SECRET=your_connected_app_consumer_secret
SF_USERNAME=your_integration_user@company.com
SF_PASSWORD=your_password_plus_security_token
